<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style lang="scss">
.sign-in {
  height: 100%;
}
// Import Bulma and Buefy styles
@import "~bulma";
@import "~bulma-divider";
@import "~buefy/src/scss/buefy";
</style>