//fonts
* {
  font-family: $family-sans-serif;
}
h1,h2,h3,h4,h5,p, .label {
  color: #25282a;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}

.Footer-Text {
  width: 103px;
  height: 18px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #25282a;
}

p.card-header-title {
  font-size: 18px;
  padding: 16px 24px;
}

// .app-main {
//   position: relative;
//   top: 80px;
// }
.card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.flex-center {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.toasty {
  font-size: 18px;
  color: white !important;
  font-weight: bold;
  padding: 5px 20px;
}
.header-line {
  width: 100%;
  margin: 12px 0;
}
.buttons {
  &.is-flex {
    &.is-paddingless {
      margin-top: 10px;
      justify-content: flex-end;     
    }
  } 
} 