<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>
      <b-field label="Campaign Settings"></b-field>
      <b-field horizontal label="Subject">
        <b-input
          v-model="selected.subject"
          name="subject"
          expanded
          placeholder="Email subject line ie: *|FNAME|* Hope You're Having a Great Day!"
        ></b-input>
      </b-field>

      <b-field horizontal label="From">
        <b-input v-model="selected.name" name="name" placeholder="Reply to name" expanded></b-input>
        <b-input
          v-model="selected.email"
          name="email"
          type="email"
          placeholder="Reply to email address"
          expanded
        ></b-input>
      </b-field>

      <b-field horizontal label="Campaign Title">
        <b-input
          v-model="selected.title"
          name="subject"
          expanded
          placeholder="The title as it will appear in Mailchimp"
        ></b-input>
      </b-field>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "CampaignSettingsFields",
  data: function() {
    return {
      error: false,
      selected: {
        subject: '',
        name: '',
        email: '',
        title: '',
      }
    }
  },
  computed: {
    ...mapState({
      mailchimp_settings: function(state) {
        return state.mailchimp.mailchimp_settings;
      }
    })
  },
  watch: {
    /**
     * Emit the selected configuration changed 
     */
    selected: {
      deep: true,
      async handler(newValue) {
        this.$emit('selectedSettingsUpdated', newValue)
      }
    },
    deep: true,
    mailchimp_settings: {
      handler(newValue) {
        this.getCampaignSettings();
      }
    }
  },
  methods: {
    getCampaignSettings() {
      if(typeof this.mailchimp_settings.campaign_settings === "undefined") {
        this.resetSettings();
        return {};
      } else {
        this.mapSettings();
      }
    },
    mapSettings() {
      this.resetSettings();
      const keys = Object.keys(this.selected);
      for(let i in keys) {
        if(typeof this.mailchimp_settings.campaign_settings[keys[i]] === undefined) {
          return;
        }
        this.selected[keys[i]] = this.mailchimp_settings.campaign_settings[keys[i]];
      }
    },
    resetSettings() {
      const keys = Object.keys(this.selected);
      for(let i in keys) {
        this.selected[keys[i]] = "";
      }
    },
  }
}
</script>

<style lang="scss" scoped>
</style>

