<template>
  <div>
    <h1 class="title">Campaign Generator</h1>
    <div class="content">
      <div class="columns">
        <div class="column is-8">
          <CampaignConfigurationCard/>
        </div>
        <div class="column is-4">
          <EmailListUploadCard/>
          <hr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import EmailListUploadCard from 'components/campaign-generator/EmailListUploadCard.vue'
import CampaignConfigurationCard from 'components/campaign-generator/CampaignConfigurationCard.vue'

export default {
  components: {
    EmailListUploadCard,
    CampaignConfigurationCard,
  },
  methods: {
 
  },
}
</script>

<style lang="scss" scoped>
</style>
