<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>
      <b-field label="Template Setup"></b-field>
      <b-field label="Template" horizontal>
        <b-select
          placeholder="Select Template"
          v-model="selected.template"
          @input="getTemplate()"
          expanded
        >
          <option v-for="option in templates" :value="option.id" :key="option.id">{{option.name}}</option>
        </b-select>
      </b-field>

      <b-field horizontal label="Name">
        <b-input v-model="settings.dealer_name.value" placeholder="Dealrship Name ie: Dealer Motors" expanded></b-input>
      </b-field>
      <b-field horizontal label="Happy URL">
        <b-input v-model="settings.happy_url.value" expanded placeholder="Redirect Link for positive response"></b-input>
      </b-field>
      <b-field horizontal label="Sad URL">
        <b-input v-model="settings.sad_url.value" expanded placeholder="Redirect Link for negative response"></b-input>
      </b-field>
      <b-field horizontal label="Website">
        <b-input v-model="settings.website_url.value" expanded placeholder="Dealer Website Link ie: www.dealermotors.com"></b-input>
      </b-field>
      <b-field horizontal label="Contact">
        <b-input v-model="settings.contact_url.value" expanded placeholder="Contact Page Link ie: www.dealermotors.com/contact"></b-input>
      </b-field>
      <b-field horizontal label="Logo">
        <b-input v-model="settings.logo_url.value" expanded placeholder="Image Link for dealer logo ie: www.dealermotors.com/logo.png"></b-input>
      </b-field>
    </template>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "CampaignTemplatesFields",
  data: function() {
    return {
      error: false,
      templates: undefined,
      settings: {
        dealer_name: { tag: "DEALER", value: "", type: "text" },
        happy_url: { tag: "HAPPY_URL", value: "", type: "url" },
        sad_url: { tag: "SAD_URL", value: "", type: "url" },
        website_url: { tag: "SITE_URL", value: "", type: "url" },
        contact_url: { tag: "CONTACT", value: "", type: "url" },
        logo_url: { tag: "LOGO_URL", value: "", type: "imageurl" },
        color: { tag: "COLOR", value: "", type: "text" }
      },
      selected: {
        template: undefined
        // todo any other important dynamic template fields
      }
    };
  },
  watch: {
    /**
     * `templates` is watched and triggers the error state when it is `undefined`.
     */
    templates: {
      deep: true,
      async handler(newValue) {
        if (typeof newValue === "undefined") {
          this.error = new Error("templates is undefined");
        } else {
          this.error = false;
        }
      }
    },
    dealer_id: {
      handler(newValue) {
        if (typeof newValue === "undefined") {
          return;
        }
        this.getTemplateSettings(this.dealer_id);
      }
    },
    mailchimp_settings: {
      async handler(newValue) {
        if (typeof newValue === "undefined") {
          return;
        }
        await this.mapSettings(this.mailchimp_settings);
        this.selected.template =
          typeof this.mailchimp_settings.campaign_settings === "undefined"
            ? undefined
            : this.mailchimp_settings.campaign_settings.last_selected_template;
      }
    },
    /**
     * Emit the selected configuration changed
     */
    selected: {
      deep: true,
      async handler(newValue) {
        this.$emit("selectedTemplatesUpdated", newValue);
      }
    },
    settings: {
      deep: true,
      async handler(newValue) {
        this.$emit("templateFieldsUpdated", {templateFields: newValue});
      }
    }
  },
  computed: {
    ...mapState({
      dealer_id: function(state) {
        return state.odin_dealer.data._id;
      },
      mailchimp_settings: function(state) {
        return state.mailchimp.mailchimp_settings;
      }
    })
  },
  async mounted() {
    await this.getCampaignTemplates();
    await this.getTemplateSettings(this.dealer_id);
  },
  methods: {
    /**
     * Returns a list of teamplates from Mailchimp by dispatching the `mailchimp/getAudiences` action
     * @throws - ?
     */
    async getCampaignTemplates() {
      try {
        const response = await this.$store.dispatch(
          "mailchimp/getCampaignTemplates"
        );
        this.templates = response.templates;
      } catch (e) {
        throw e;
      }
    },
    /**
     * Returns the template data from the mailchimp collection
     * @throws - ?
     */
    async getTemplateSettings() {
      try {
        const payload = { id: this.dealer_id };
        const response = await this.$store.dispatch(
          "mailchimp/getSettings",
          payload
        );
      } catch (e) {
        throw e;
      }
    },
    async mapSettings(response) {
      await this.resetSettings();
      for (var field in this.settings) {
        if (typeof response[field] === "undefined") {
          continue;
        }
        this.settings[field].value = response[field].value;
      }
    },
    async resetSettings() {
      for (let field in this.settings) {
        this.settings[field].value = "";
      }
    },
    async updateTemplateSettings() {
      //todo :(
    },
    async getTemplate() {
      //todo :(
    }
  }
};
</script>

<style lang="scss" scoped>
</style>

