<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>
      <div class="card" id="audience-upload-card">
        <header class="card-header">
          <p class="card-header-title">Campaign Configuration</p>
        </header>
        <div class="card-content">
            <CampaignTemplatesFields @selectedTemplatesUpdated="setSelectedTemplates($event)" @templateFieldsUpdated="setSelectedTemplateFields($event)" />
            <hr>
            <CampaignAudienceFields @selectedAudienceUpdated="setSelectedAudiences($event)" />
            <hr>
            <CampaignTimeFields @selectedTimesUpdated="setSelectedTimes($event)" />
            <hr>
            <CampaignSettingsFields @selectedSettingsUpdated="setSelectedSettings($event)" />
            <hr>
            <!-- <p>Creating
              <strong>{{selected.numberOfCampaigns}}</strong>
               campaigns from
               <strong>{{selected.numberOfMembers}}</strong> segment members based on batches of 
              <strong>{{selected.batchSize}}</strong>.
            </p> -->
            <b-field horizontal><!-- Label left empty for spacing -->
              <p class="control">
                  <b-button class="button is-primary"
                    :disabled="disableScheduleButton"
                    @click="schedule()"
                    :loading="loading"
                  >
                    Schedule
                  </b-button>
              </p>
            </b-field>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import CampaignTimeFields from 'components/campaign-generator/CampaignTimeFields'
import CampaignTemplatesFields from 'components/campaign-generator/CampaignTemplatesFields'
import CampaignAudienceFields from 'components/campaign-generator/CampaignAudienceFields'
import CampaignSettingsFields from 'components/campaign-generator/CampaignSettingsFields'
import { mapState } from 'vuex';

export default {
  name: "CampaignConfigurationCard",
  
  components: {
    CampaignTimeFields,
    CampaignTemplatesFields,
    CampaignAudienceFields,
    CampaignSettingsFields
  },
  data: function() {
    return {
      error: false,
      selected: {
          audienceId: undefined,
          batchSize: 0,
          email: undefined,
          name: undefined,
          templateId: undefined,
          mergeFields: undefined,
          title: undefined,
          times: undefined,
          segments: undefined,
          subject: undefined,
          numberOfCampaigns: 0,
          numberOfMembers: 0,
        },
        loading: false
    };
  },
  computed: {
    ...mapState ({
      odin_dealer(state) {
        return state.odin_dealer;
      }
    }),
    disableScheduleButton() {
      // for (let [k,v] of Object.entries(this.selected)) {
      //   debugger
      //   if ( typeof v === 'undefined' ) return true
      // }
      return false
    },
    // batchSize() {
    //   try {
    //     return selected.batchSize
    //   } catch(e) {
    //     return 0
    //   }
    // }
  },
  methods: {
    getOdinDealerData() {
      try {
        if (typeof this.odin_dealer.data === 'undefined') throw new Error(`Missing odin_dealer.data for ${this.odin_dealer}`)
        //  TODO - Handle data integrity - check for valid auth0 id...
        return this.odin_dealer.data;
      } catch(e) {
        this.error = e
        throw(e)
      }
    },
    getDealerObjectId() {
      try {
        const odinDealerData = this.getOdinDealerData();
        if (typeof odinDealerData._id === 'undefined') throw new Error(`Missing _id for ${this.odinDealerData}`)
        //  TODO - Handle data integrity - check for valid auth0 id...
        return odinDealerData._id;
      } catch(e) {
        this.error = e
        throw(e)
      }
    },
    /**
     * Updates the emitted variables from the child components
     */
    setSelectedTemplates(event) {
      this.selected.templateId = typeof event.template === 'undefined' ? undefined : event.template
    },
    setSelectedTemplateFields(event) {
      this.selected.mergeFields = typeof event.templateFields === 'undefined' ? undefined : event.templateFields
    },
    setSelectedTimes(event) {
      this.selected.times = typeof event.times === 'undefined' ? undefined : event.times
    },
    setSelectedAudiences(event) {
      this.selected.audienceId = typeof event.audienceId === 'undefined' ? undefined : event.audienceId
      this.selected.batchSize = typeof event.batchSize === 'undefined' ? undefined : event.batchSize
      this.selected.segments = typeof event.segments === 'undefined' ? undefined : event.segments.map(segment=>segment.id)
      this.selected.numberOfCampaigns = typeof event.numberOfCampaigns === 'undefined' ? undefined : event.numberOfCampaigns
      this.selected.numberOfMembers = typeof event.numberOfMembers === 'undefined' ? undefined : event.numberOfMembers
    },
    setSelectedSettings(event) {
      this.selected.name = typeof event.name === 'undefined' ? undefined : event.name
      this.selected.email = typeof event.email === 'undefined' ? undefined : event.email
      this.selected.subject = typeof event.subject === 'undefined' ? undefined : event.subject
      this.selected.title = typeof event.title === 'undefined' ? undefined : event.title
    },
    /**
     * Schedules the campaigns using the selected payload
     */
    async schedule() {
      try {
        this.loading = true
        // TODO: Move this guy to templateFields component, with a save button
        await this.uploadTemplateSettings(this.selected.mergeFields)
        // Can leave this guy here
        await this.uploadCampaignSettings(this.selected.name, this.selected.email, this.selected.subject, this.selected.title, this.selected.templateId);
        const payload = this.selected
        var response = await this.$store.dispatch('mailchimp/scheduleCampaigns', payload)
      } catch(e) {
        throw e
      } finally {
        this.loading = false
      }
    },
    async uploadTemplateSettings(settings) {
      try {
        if(typeof settings === "undefined") { return; }
        const id = this.getDealerObjectId();
        const data = {
          dealer_name: {tag: "DEALER", value: settings.dealer_name.value, type: "text"},
          happy_url: {tag: "SITE_URL", value: settings.happy_url.value, type: "url"},
          sad_url: {tag: "SITE_URL", value: settings.sad_url.value, type: "url"},
          website_url: {tag: "SITE_URL", value: settings.website_url.value, type: "url"},
          logo_url: {tag: "LOGO_URL", value: settings.logo_url.value, type: "imageurl"},
          contact_url: {tag: "CONTACT", value: settings.contact_url.value, type: "url"},
        }
        const type = "Template"
        const response = await this.$store.dispatch('mailchimp/updateSettings', {id, data, type})
      } catch (error) {
        throw error;
      } 
    },
    async uploadCampaignSettings(name, email, subject, title, templateId) {
      try {
        const id = this.getDealerObjectId();
        const data = {
          campaign_settings: {
            name: name, 
            email: email,
            subject: subject,
            title: title,
            last_selected_template: templateId
          }
        };
        const type = "Campaign"
        const response = await this.$store.dispatch('mailchimp/updateSettings', {id, data, type})
      } catch (error) {
        throw error;
      } 
    },
  }
}
</script>

<style lang="scss" scoped>
</style>

