<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>

      <b-field label="Select Audience">
        <b-select placeholder="Select Audience"
          v-model="selected.audienceId"
          @input="getAudienceSegments()"
          expanded
          >
          <option
            v-for="option in audiences"
            :value="option.id"
            :key="option.id"
          >
            {{option.name}}
          </option>
        </b-select>
      </b-field>
  
      <b-field label="Batch Size">
        <b-numberinput min="1" max="10000" v-model="selected.batchSize">
        </b-numberinput>
      </b-field>

      <b-field label="Tagged Segments">
        <b-notification class="loading-container" :closable="false" v-if="loadingSegments" >
          <b-loading :active.sync="loadingSegments" :can-cancel="true"></b-loading>
        </b-notification>
        <b-select
            v-else
            multiple
            native-size="5"
            expanded
            placeholder="Select a segment..."
            v-model="selected.segments">
            <option 
              v-for="segment in audienceSegments"
              :key="segment.id"
              :value="segment">{{segment.name}} ({{segment.new_members_count}} new members)</option>
        </b-select>
    </b-field>

    </template>
  </div>
</template>

<script>
import store from 'store';

export default {
  name: "CampaignAudienceFields",
  data: function() {
    return {
      error: false, 
      audiences: undefined,
      audienceSegments: undefined,
      selected: {
        batchSize: 40,
        audienceId: undefined,  
        segments: [],
        numberOfCampaigns: undefined,
        numberOfMembers: undefined
      },
      loadingSegments: false,
    }
  },
   async mounted() {
    await this.getAudiences()
  },
  methods: {   
     /**
     * Returns a list of audiences from Mailchimp by dispatching the `mailchimp/getAudiences` action
     * @throws - ?
     */
    async getAudiences() {
      try {
        const response = await store.dispatch('mailchimp/getAudiences')
        this.audiences = response.lists
      } catch(e) {
        throw e
      }
    },
     /**
     * Returns a list of audiences from Mailchimp by dispatching the `mailchimp/getAudiences` action
     * @throws - ?
     */
    async getAudienceSegments() {
      try {
        this.loadingSegments = true;
        const audienceId = this.selected.audienceId
        const response = await store.dispatch('mailchimp/getAudienceSegments', audienceId)
        this.audienceSegments = response.segments
        return response
      } catch(e) {
        throw e
      } finally {
        this.loadingSegments = false;
      }
    },
  },
  computed: {
    /**
     * The total number of audience members based on how many segments are selected
     */
    numberOfMembers() {
      try {
        const members = this.selected.segments
          .map( segment => segment.member_count )
          .reduce( (current, next) => current + next, 0)
        return members
      } catch(e) {
        return 0
      }
    },
    numberOfCampaigns() {
      try {
        const batchSize = this.selected.batchSize
        const members = this.numberOfMembers
        if (batchSize < 1) throw new Error('divide by zero')
        const campaigns = Math.ceil(members / batchSize)
        return campaigns
      } catch(e) {
        return 0
      }
    }
  },
  watch: {
    /**
     * `audiences` is watched and triggers the error state when it is `undefined`.
     */
    audiences: {
      deep: true,
      async handler(newValue) {
        if (typeof newValue === 'undefined') {
          this.error = new Error('audiences is undefined')
        } else {
          this.error = false
        }
      }
    },
    /**
     * Emit the selected configuration changed 
     */
    selected: {
      deep: true,
      async handler(newValue) {
        newValue.numberOfCampaigns = this.numberOfCampaigns
        newValue.numberOfMembers = this.numberOfMembers
        this.$emit('selectedAudienceUpdated', newValue)
      }
    },
  }  
}
</script>

<style lang="scss" scoped>
</style>

