<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>
      <b-field label="Add Time Entry">
        <b-field>
          <p class="control">
            <b-select placeholder="Day of week" v-model="newDay">
              <option
                v-for="option in columns"
                :value="option.label"
                :key="option.label"
              >{{ option.label }}</option>
            </b-select>
          </p>
          <b-timepicker
            v-model="nextTime"
            placeholder="Time of day"
            :incrementMinutes="minutesGranularity"
          ></b-timepicker>
          <b-button class="is-primary" @click="addEntry()">Add</b-button>
        </b-field>
      </b-field>

      <div class="has-text-centered" v-if="selected.times.length < 1">
        No Schedule Set
        <hr />
      </div>
      <b-field v-else label="Add to Schedule">
        <b-table :data="selected.times">
          <template slot-scope="data">
            <b-table-column field="Sunday" label="Sunday">
              <b-timepicker v-model="data.row['Sunday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Sunday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>

            <b-table-column field="Monday" label="Monday">
              <b-timepicker v-model="data.row['Monday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Monday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>

            <b-table-column field="Tuesday" label="Tuesday">
              <b-timepicker v-model="data.row['Tuesday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Tuesday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>

            <b-table-column field="Wednesday" label="Wednesday">
              <b-timepicker v-model="data.row['Wednesday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Wednesday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>

            <b-table-column field="Thursday" label="Thursday">
              <b-timepicker v-model="data.row['Thursday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Thursday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>

            <b-table-column field="Friday" label="Friday">
              <b-timepicker v-model="data.row['Friday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Friday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>

            <b-table-column field="Saturday" label="Saturday">
              <b-timepicker v-model="data.row['Saturday']" :incrementMinutes="minutesGranularity">
                <button class="button is-danger" @click="data.row['Saturday'] = undefined">
                  <b-icon icon="close"></b-icon>
                  <span>Clear</span>
                </button>
              </b-timepicker>
            </b-table-column>
          </template>
        </b-table>
      </b-field>
    </template>
  </div>
</template>

<script>
export default {
  name: "CampaignTimeFields",

  data: function() {
    return {
      error: false,
      startDate: new Date(),
      newDay: "Monday",
      minutesGranularity: 15,
      newTime: undefined,
      selected: {
        times: []
      },
      columns: [
        {
          field: "Sunday",
          label: "Sunday"
        },
        {
          field: "Monday",
          label: "Monday"
        },
        {
          field: "Tuesday",
          label: "Tuesday"
        },
        {
          field: "Wednesday",
          label: "Wednesday"
        },
        {
          field: "Thursday",
          label: "Thursday"
        },
        {
          field: "Friday",
          label: "Friday"
        },
        {
          field: "Saturday",
          label: "Saturday"
        }
      ]
    };
  },
  mounted() {
    this.newTime = this.nextTime;
  },
  methods: {
    /**
     * Adds new entries to the table
     */
    addEntry() {
      try {
        const day = this.newDay;
        const time = this.newTime;
        const index = this.selected.times.findIndex(
          entry => typeof entry[day] === "undefined"
        );
        if (index > -1) {
          this.selected.times[index][day] = time;
        } else {
          let newEntry = {
            Sunday: undefined,
            Monday: undefined,
            Tuesday: undefined,
            Wednesday: undefined,
            Thursday: undefined,
            Friday: undefined,
            Saturday: undefined
          };
          newEntry[day] = time;
          this.selected.times.push(newEntry);
        }
      } catch (e) {
        throw e;
      }
    }
  },
  /**
   * Calculate the next 15 minute interval to run on
   */
  computed: {
    nextTime: {
      get() {
        const minuteNow = new Date().getMinutes();
        const hourNow = new Date().getHours();
        const interval = this.minutesGranularity;
        const minuteNext = minuteNow + interval - (minuteNow % interval);
        const nextMinutes = minuteNext === 60 ? 0 : minuteNext;
        const nextHours = minuteNext === 60 ? (hourNow + 1) % 24 : hourNow;
        let nextTime = new Date();
        nextTime.setHours(nextHours, nextMinutes, 0);
        return nextTime;
      },
      set(newValue) {
        this.newTime = newValue;
      }
    }
  },
  watch: {
    /**
     * `times` is watched and triggers the emit when it changes.
     */
    selected: {
      deep: true,
      async handler(newValue) {
        try {
          if (typeof newValue.times === "undefined") return;
          // Do a quick format to turn all the dates into time strings HH:MM
          const times = newValue.times.map(entry => {
            const kv = Object.entries(entry).filter(day => {
              if (typeof day[1] !== "undefined") {
                day[1] = day[1].toTimeString().substring(0, 5);
                return day;
              }
            });
            return Object.fromEntries(kv);
          });
          this.$emit("selectedTimesUpdated", { times: times });
        } catch (e) {
          throw e;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>

