<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>
      <div class="card" id="email-list-editor-table">
        <div class="card-content">
          <b-table
            class
            :data="validated.json"
            :selected.sync="selected"
            striped
            hoverable
            default-sort="Email"
          >
            <template slot-scope="data">
              <!-- <b-table-column field="Email" label="Email" sortable>
                <TableCellField :value="data.row['Email']" />
              </b-table-column> -->
              <b-table-column field="Email" label="Email" sortable>{{data.row['Email']}}</b-table-column>
              <b-table-column field="First Name" label="First Name" sortable>{{data.row['First Name']}}</b-table-column>
              <b-table-column field="Last Name" label="Last Name" sortable>{{data.row['Last Name']}}</b-table-column>
              <b-table-column field="Sales/Service" label="Sales/Service" sortable>{{data.row['Sales/Service']}}</b-table-column>
            </template>
          </b-table>
        </div>

        <!-- Only display audience select and submit button if there is no errors -->
        <div v-if="validated.errors.length > 0" class="card-footer">
          <div  class="card-footer-item">
             <p class="has-text-danger">
              There is errors in the email list
            </p>
          </div>
        </div>

        <div v-else class="card-footer" >
          <div class="card-footer-item">
            <b-field>
              <b-select placeholder="Select Audience"
                v-model="selectedAudience"
              >
                <option
                  v-for="option in audiences.lists"
                  :value="option.id"
                  :key="option.id"
                >
                  {{option.name}}
                </option>
              </b-select>
            </b-field>
          </div>
          <div class="card-footer-item">
            <b-field>
              <b-button class="is-primary"
              id="submit-emails-button"
                @click="uploadEmails()"
                :disabled="typeof selectedAudience === 'undefined' ? true : false"
                :loading="loading"
                >
                Submit
              </b-button>
            </b-field>
          </div>

        </div>
      </div>
    </template>
  </div>
</template>

<script>
import TableCellField from './TableCellField'
export default {
  name: "EmailListEditorTable",
  components: {
    TableCellField
  },
  data: function() {
    return {
      error: false,
      selected: undefined,
      audiences: undefined,
      selectedAudience: undefined,
      loading: false,
    };
  },
  props: ["validated"],
  watch: {
    /**
     * `validated` is watched and triggers the error state when it is `undefined`. 
     * It also selects the first element in the result as the default `selected` item in the table.
     * It is an `Object` which contains the following format:
     *  `{ json: [ {<Email Row Object>} ], errors: [ {<Error Object>} ] }`
     */
    validated: {
      deep: true,
      async handler(newValue) {
        if (typeof newValue === 'undefined') {
          this.error = new Error('validated is undefined')
        } else {
          this.error = false
          this.selected = newValue[0]
        }
      }
    },
     /**
     * `audiences` is watched and triggers the error state when it is `undefined`.
     */
    audiences: {
      deep: true,
      async handler(newValue) {
        if (typeof newValue === 'undefined') {
          this.error = new Error('audiences is undefined')
        } else {
          this.error = false
        }
      }
    },
  },
  async mounted() {
    this.audiences = await this.getAudiences()
  },
  methods: {
    /**
     * Returns a list of audiences from Mailchimp by dispatching the `mailchimp/getAudiences` action
     * @throws - ?
     */
    async getAudiences() {
      try {
        const response = await this.$store.dispatch('mailchimp/getAudiences')
        return response
      } catch(e) {
        throw e
      }
    },
    /**
     * Uploads the JSON payload of emails to Mailchimp by dispatching the `mailchimp/uploadEmails` action 
     * @throws - ?
     */
    async uploadEmails() {
      try {
        this.loading = true
        const response = await this.$store.dispatch('mailchimp/updateAudience', { id: this.selectedAudience, data: this.validated.json })
        this.loading = false
        this.openToast(response)
      } catch(e) {
        throw e
      }
    },
    /**
     * Opens a toast on the bottom center of the screen
     * @param {Object} response - The response object from the mailchimp/updateAudience action
     */
    openToast(response) {
      const newMembers = response.new_members
      const newMembersCount = response.total_created
      const errors = response.errors
      const errorsCount = response.error_count
      if (typeof newMembers !== 'undefined' && newMembersCount > 0) {
        this.$buefy.toast.open({
          duration: 6000,
          message: `Created ${newMembersCount} new members`,
          type: "is-primary",
          position: "is-bottom"
        })
      } 
      if (typeof errors !== 'undefined' && errorsCount > 0) {
        this.$buefy.toast.open({
          duration: 12000,
          message: `Errors creating ${errorsCount} members`,
          type: "is-danger",
          position: "is-bottom"
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

