<template>
  <div>
    <template v-if="error">
      <div class="error-message">
        <p class="has-text-centered">{{ error }}</p>
      </div>
    </template>
    <template v-else>
      <div class="card" id="audience-upload-card">
        <header class="card-header">
          <p class="card-header-title">Email List Upload</p>
        </header>
        <div class="card-content">
          <div class="has-text-centered">
            <p>First download the template file and add your email list:</p>
            <b-button class="is-primary" @click="downloadEmailTemplate()">
              Download Template (.xlsx)
            </b-button>
          </div>
          <hr>
          <div>
            <DragAndDropUploader
              @attachedFile="attachedFile($event)"
              @deletedFile="deletedFile($event)"
            />
          </div>
          <hr>
           <div class="has-text-centered">
            <b-button class="is-primary"
              id="validate-emails-button"
              @click="uploadTemplate()"
              :disabled="typeof file === 'undefined' ? true : false"
              >
              Validate
            </b-button>
          </div>
        </div>
      </div>
    </template>
    <template>
      <b-modal :active.sync="isComponentModalActive"
        has-modal-card
        trap-focus
        aria-role="dialog"
        aria-modal
      >
        <EmailListEditorTable :validated="validated"/>
      </b-modal>
    </template>
    <template>
      <b-loading :is-full-page="true" :active.sync="uploadingEmailList"></b-loading>
    </template>
  </div>
</template>

<script>
import DragAndDropUploader from "components/widgets/components/DragAndDropUploader.vue";
import EmailListEditorTable from "components/campaign-generator/EmailListEditorTable.vue"
export default {
  name: "EmailListUploadCard",
  
  components: {
    DragAndDropUploader,
    EmailListEditorTable
  },
  data: function() {
    return {
      error: false,
      file: undefined,
      validated: undefined,
      isComponentModalActive: false,
      uploadingEmailList: false
    };
  },
  methods: {
    /**
     * Dispatches the `mailchimp/downloadEmailTemplate` action which makes the API call to the Campaign Management 
     * service to retrieve and immediately download the template file as an attachment.
     * @throws - If the action fails to execute the error object should trigger a failed download
     * message displayed to the user
     */
    async downloadEmailTemplate() {
      try {
        let response = await this.$store.dispatch('mailchimp/downloadEmailTemplate')
      } catch(e) {

      }
    },
    /**
     * Uploads an `xlsx` file to the Campaign Management service and completes the validation of the email list inside. 
     * It should return the validation object as a response.
     * 
     * @throws - If the action fails to execute the error object should trigger a failed upload
     * message displayed to the user
     */
    async uploadTemplate() {
      try {
        this.uploadingEmailList = true
        let validated = await this.$store.dispatch('mailchimp/validateEmailTemplate', this.file)
        this.validated = validated.data
        this.uploadingEmailList = false
      } catch(e) {

      }
    },
    /**
     * Attaches the uploaded file (helper function)
     */
    attachedFile(file) {
      this.file = file
    },
    /**
     * Deletes the uploaded file (helper function) 
     */
    deletedFile(file) {
      this.file = undefined
    }
  },
  watch: {
    /**
     * Watches the `validated` variable and triggers the `isComponentModalActive` flag if the validation is completed. 
     * It should set the flag back to false if `validated` is undefined.
     */
    validated(newValue) {
      if (typeof newValue !== 'undefined') {
        this.isComponentModalActive = true
      } else {
        this.isComponentModalActive = false
      }
    },
     /**
     * Watches the `isComponentModalActive` variable and removes the file if the modal is closed
     */
    isComponentModalActive(newValue) {
      if (newValue === false) {
        this.deletedFile({})
      }
    }
  },
  
};
</script>

<style lang="scss" scoped>
</style>

