<template>
 <b-field>
     <b-input :value="value">
     </b-input>
 </b-field>
</template>

<script>
//  TODO - maybe we can use this component to make better generic cell error checking
//  might need to rethink the workflow of validation and do some client side validation
//  first before hitting the server? dunno - leaving this here for now but not using the 
//  component yet
export default {
  props: ['value'],
  data: function() {
    return {

    };
  },
  computed: {
      //  this is broken - how do we make one field handle multiple error types for different
      //  values?
    validate() {
      let errorMessage
      try {
        if ( value.length < 1 ) throw new Error('Empty email')
        if ( !value.match('^[^@]+@[^@]+\.[^@]+$') ) throw new Error('Invalid email')
        return value
        } catch(e) {
          errorMessage = e
          return value
        }
      }
  },
  methods: {

      //    function checkFirstName(row) {
//     const column = 'First Name'
//     let error = {}
//     try {
//         const value = row[column]
//         if (value.length < 1) throw new Error('Empty first name')
//         return true
//     } catch(e) {
//         error.row = row
//         error.column = column 
//         error.message = e.message
//         return error
//     }
// }
// function checkLastName(row) {
//     const column = 'Last Name'
//     let error = {}
//     try {
//         const value = row[column]
//         if (value.length < 1) throw new Error('Empty first name') 
//         return true
//     } catch(e) {
//         error.row = row
//         error.column = column
//         error.message = e.message
//         return error
//     }
// }

// function checkDepartment(row) {
//     const column = 'Sales/Service'
//     let error = {}
//     try {
//         const departments = audienceValidationConfig.departments
//         const value = row[column]
//         if (value.length < 1) throw new Error('Empty department') 
//         if(!departments.includes(value)) throw new Error('Invalid department')
//         return true
//     } catch(e) {
//         error.row = row
//         error.column = column
//         error.message = e.message
//         return error
//     }
// }
  },
  watch: {
   
  }
};
</script>

<style lang="scss" scoped>
</style>

