<template>
  <section>
    <div class="columns section">
      <div class="column">
        <b-tabs position="is-left" class="block" v-model="activeTab" :key="tabKey">
          <!-- OEM Post Automation -->
          <b-tab-item label="OEM Post Automation">
            <div>
              <oem-post-automation />
            </div>
          </b-tab-item>
           <!-- OEM Post Automation -->
          <b-tab-item label="User Management">
            <div>
              <UserManagement />
            </div>
          </b-tab-item>
           <b-tab-item label="Dealer Management">
            <div>
              <DealerManagement />
            </div>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>
  </section>
</template>

<script>
import OEMPostAutomation from '../../components/internal-tools//oem-post-automation/OEMPostAutomation.vue'
import UserManagement from '../../components/internal-tools/user-management/UserManagement.vue'
import DealerManagement from '../../components/internal-tools/dealer-management/DealerManagement.vue'

export default {
  components: {
    'oem-post-automation': OEMPostAutomation,
    UserManagement,
    DealerManagement,
  },
  data: function() {
    return {
      pageName: this.$router.currentRoute.name,
      activeTab: 0,
      tabKey:0,
    };
  }
};
</script>

<style scoped>
.page-header {
  margin: 30px 0 0 30px;
}
</style>
