<template>
  <div class="main-content">
    <div class="columns">
      <div class="column is-2" :class="{ 'is-hidden-touch': isHidden}" style="padding: -12px !important;">
        <sidebar-menu class="sidebar-menu" @optionClicked="isHidden = !isHidden"></sidebar-menu>
      </div>
      <div class="column app-background" style="border-left: solid 1px #e4e8f3;">
        <breadcrumbs></breadcrumbs>
        <router-view />
        <div v-if="updatingDealer">
          <b-notification ref="element" class="loading" :closable="false">
            <b-loading :is-full-page="true" :active.sync="updatingDealer"></b-loading>
          </b-notification>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from 'components/main-content/Breadcrumbs.vue'
import SidebarMenu from 'components/sidebar/Menu.vue'
import DealerDropdown from 'components/header/DealerDropdown.vue'
import { eventBus } from '../main';
import { mapState } from 'vuex';

export default {
    components: {
        'sidebar-menu': SidebarMenu,
        'breadcrumbs': Breadcrumbs,
        'dealer-dropdown': DealerDropdown,
    },
    props: {
      isBurgerClicked : {
        type: Boolean
      }
    },
    data() {
      return {
        isHidden: true,
        active: true,
      }
    },
    computed: {
      ...mapState( {
        updatingDealer: function( state ) {
            return state.odin_dealer.loading;
        }
      }),
    },
    created() {
      eventBus.$on('burgerClicked', () => {
        return this.isHidden = !this.isHidden;
      });
    }
}

</script>

<style lang="scss" scoped>
  .main-content {
    margin: 12px;
  }
  .column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .app-background {
    background-color: $app-background !important;
  }
</style>
