<template>
  <div>
    <Header />
    <Main class="app-main" />
  </div>
</template>

<script>
import Header from 'components/header/Header.vue'
import Main from './MainContent.vue'
export default {
     components: {
        Header,
        Main
    },
};
</script>

<style>
</style>