<template>
  <div class="home">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <h1 class="title is-size-1">Welcome to the Dealer Portal</h1>
      </div>
    </div>
    <b-modal v-if="odin_dealer.data._id == undefined" :active.sync="modalActive" has-modal-card>
      <dealer-select-modal @selected="closeModal()"></dealer-select-modal>
    </b-modal>
  </div>
</template>

<script>
import DealerSelectModal from "components/main-content/SelectDealerModal.vue";
import store from "store";
import { mapState } from "vuex";

export default {
  components: {
    "dealer-select-modal": DealerSelectModal
  },
  data: function() {
    return {
      modalActive: true,
      selected: false,
      loadingSpinner: ""
    };
  },
  mounted() {
    this.setDealerIfSubscriber();
  },
  computed: {
    ...mapState({
      roles: function(state) {
        return state.user.roles;
      },
      odin_dealer: function(state) {
        return state.odin_dealer;
      },
      loading: function(state) {
        return state.gmb_data.loadingReviews;
      },
      odin_dealers: function(state) {
        return state.user.odin_dealers;
      },
    })
  },
  methods: {
    async setDealerIfSubscriber() {
      if (this.$store.state.user.roles.includes("subscriber")) {
        var decodedJWT = await this.$store.dispatch("user/validateJWT")
        var dealer_id = decodedJWT.user.id
        // console.log(decodedJWT);
        this.updateOdinDealer(dealer_id);
      }
    },
    async updateOdinDealer(dealer) {
      try {
        this.loadingDealer = true;
        await Promise.all([
          this.$store.dispatch("gmb_data/reset"),
          this.$store.dispatch("odin_dealer/reset"),
          this.$store.dispatch("vms_data/reset"),
        ]);
        let newDealer = this.odin_dealers.find(d => d._id == dealer);
        await store.dispatch("odin_dealer/getOdinDealer", newDealer._id);
   
        // They got some store codes - so let's get their google my business data and set some default stuff!
        if (this.odin_dealer.data.organic_gmb_store_codes) {
          //  TODO - Refactor - this should either return a result object or get caught, results should never be undefined!
          let results = await this.setLocationIds();
          if (typeof results[0] !== "undefined") {
            Object.keys(results[0])[0] == "error"
              ? this.$buefy.toast.open({
                  duration: 5000,
                  message: `Google My Business Error: This dealer may have changed its business name or store code.`,
                  type: "is-danger"
                })
              : "";
          }
        }
        //If they got a vms_id, update the company data
        if (this.odin_dealer.data.dealer_vms_id) {
          await this.$store.dispatch("vms_data/updateCompany");
          await this.$store.dispatch("vms_data/updateInventory");
        } else {
          await this.$store.dispatch("vms_data/reset");
        }
        this.$emit("selected", dealer);
        this.loadingDealer = false;
      } catch (error) {
        //  Catch any errors from dispatched actions - display to feedback to user
        this.loadingDealer = false;
        throw error;
      }
    },
    hasSEOManager() {
      return this.odin_dealer.data.dealer_organic_live;
    },
    closeModal: function(value) {
      this.modalActive = false;
    }
  },
};
</script>

<style lang="scss" scoped>
.home {
  height: 70vh;
}
</style>