<template>
  <div class="callback"></div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "callback",
  mounted() {
    this.init();
  },
  methods: {
    init: async function() {
      this.$auth.handleAuthentication().then(async data => {
        this.$router.push({ name: "Welcome" });
        await this.$store.dispatch("user/auth0Login", data);
        await this.$store.dispatch("user/getOdinDealers", {
          fields: ["_id", "dealer_business_name", "dealer_nickname"]
        });
        await this.$store.dispatch("gmb_data/setLocations");
      });
    }
  }
};
</script>