<template>
  <div class="card">
    <template v-if="error">
      <div class="error-message">
        <p class="is-flex" id="render-error" style="justify-content: center;">Error getting OEM</p>
      </div>
    </template>
    <template v-else>
      <b-collapse :open.sync="isCardExpanded">
        <div slot="trigger" role="button">
          <header class="card-header">
            <p class="card-header-title">{{ getOemName() }}</p>
            <!-- <span class="column is-1"><b-icon icon="chevron-down" size="is-small" type="is-menu-icon"></b-icon></span> -->
            <a class="card-header-icon header-icon">
              <b-icon :icon="setIcon()" size="is-medium" type="is-menu-icon"></b-icon>
            </a>
          </header>
        </div>

        <div class="card-content">
          <template>
            <b-table class :data="getOemDealers()" striped paginated pagination-simple per-page="15">
              <template slot-scope="data">
                <b-table-column field="dealership" label="Dealership">{{ getDealerName(data.row) }}</b-table-column>
                <b-table-column field="locations" label="Location(s)">
                  <b-dropdown v-model="data.row.selectedLocations" multiple aria-role="list">
                    <button class="button is-primary" type="button" slot="trigger">
                      <span>Selected ({{ getDealerSelectedLocations(data.row).length }})</span>
                      <b-icon icon="menu-down"></b-icon>
                    </button>
                    <b-dropdown-item
                      v-for="(location, index) in getDealerOrganicLocations(data.row)"
                      :key="index"
                      :value="location"
                      aria-role="listitem"
                    >
                      <span>{{ location.location_name }}</span>
                    </b-dropdown-item>
                  </b-dropdown>
                </b-table-column>
                <b-table-column field="ctaLink" label="Promo/CTA Link">
                  <b-field>
                    <b-input
                      type="text"
                      placeholder="Promo Page URL"
                      v-model="data.row.organic_gmb_oem_cta_link"
                      @input="checkIfActive(data.row)"
                      ref="cta"
                    ></b-input>
                  </b-field>
                </b-table-column>
                <b-table-column field="active" label="Active">
                  <b-switch
                    v-model="data.row.organic_gmb_oem_active"
                    @input="setActive($event, data.row)"
                  ></b-switch>
                </b-table-column>
              </template>

              <!-- Handles empty table -->
              <template slot="empty">
                <div class="content has-text-grey has-text-centered">
                  <p>
                    <b-icon icon="emoticon-sad" size="is-large" type="is-menu-icon"></b-icon>
                  </p>
                  <p>This OEM has no dealers with Organic.</p>
                </div>
              </template>
            </b-table>
          </template>

          <b-button
            :loading="schedulingPosts"
            size="is-medium is-primary"
            @click="schedulePosts()"
            :disabled="getActiveOemDealers().length <= 0"
          >Schedule</b-button>
          <b-button
            :loading="openingModal"
            size="is-medium"
            @click="openModal()"
          >View Scheduled Posts</b-button>
          <b-modal :active.sync="modalActive" has-modal-card>
            <ScheduledPostsModal v-bind:modalData="modalData" />
          </b-modal>
        </div>
      </b-collapse>
    </template>
  </div>
</template>

<script>
import ScheduledPostsModal from "../../post-automation/ScheduledPostsModal";
import { mapState } from "vuex";

export default {
  props: ["oem", "fields", "updated"],
  components: {
    ScheduledPostsModal
  },
  data: function() {
    return {
      showMessage: false,
      utm: {
        source: "google",
        medium: "organic",
        campaign: "GMB",
        term: "googlepost",
        content:
          new Date()
            .toString()
            .split(" ")[1]
            .toLowerCase() +
          new Date().toString().split(" ")[2] +
          "post"
      },
      modalActive: false,
      isCardExpanded: false,
      eventTitle: "",
      summary: "",
      imageUrl: "",
      dates: [
        new Date(),
        new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)
      ],
      openingModal: false,
      schedulingPosts: false,
      error: false,
      selectedLocationsHolder: [],
      replacedFields: { eventTitle: "", summary: "" },
      summ: "",
      title: "",
      skippedLocation: 0,
    };
  },
  computed: {
    ...mapState({
      activeDealers(state) {
        return state.odin_dealer.activeOemDealers;
      },
      localPosts(state) {
        return state.gmb_data.localPosts
      }
    }),
    modalData() {
      const modalData = {
        posts: this.localPosts,
        // title: this.getOemName()
      }
      return modalData
    }
  },
  watch: {
    //  If the props change reset the error so the component can rerender
    oem: {
      immediate: true,
      handler(newVal) {
        if (typeof newVal === "undefined") {
          this.error = new Error("OEM is undefined");
        } else {
          this.setDefaultSelectedLocations();
          this.error = false;
        }
      }
    }
  },
  mounted() {
    this.$root.$on("updatedUTM", value => {
      this.utm = value;
    });
  },
  methods: {
    // TODO - splice dealers as they ar scheduled, update state in finally block?
    // TODO - deactivate all dealers that are currently active + clean the urls
    // TODO - deactivate all dealers on page refresh???? maybe
    getOemDealers() {
      try {
        if (typeof this.oem.dealers === "undefined")
          throw new Error(`Missing dealers for ${this.oem}`);
        return this.oem.dealers;
      } catch (e) {
        this.error = e;
        throw e;
      }
    },
    getOemName() {
      try {
        if (
          typeof this.oem.oem === "undefined" ||
          this.oem.oem === "" ||
          this.oem.oem === null
        )
          throw new Error(`Missing oem for ${this.oem}`);
        return this.oem.oem;
      } catch (e) {
        return "<oem not set>";
      }
    },
    getDealerName(dealer) {
      try {
        if (
          typeof dealer.dealer_business_name === "undefined" ||
          dealer.dealer_business_name === ""
        )
          throw new Error(`Missing dealer_business_name for ${dealer}`);
        return dealer.dealer_business_name;
      } catch (e) {
        return "<name not set>";
      }
    },
    getDealerOrganicLocations(dealer) {
      try {
        if (typeof dealer.organic_gmb_locations === "undefined")
          throw new Error(`Missing organic_gmb_locations for ${dealer}`);
        return dealer.organic_gmb_locations;
      } catch (e) {
        return [];
      }
    },
    getDealerCtaLink(dealer) {
      try {
        if (typeof dealer.organic_gmb_oem_cta_link === "undefined")
          throw new Error(`Missing organic_gmb_oem_cta_link for ${dealer}`);
        return dealer.organic_gmb_oem_cta_link;
      } catch (e) {
        return "";
      }
    },
    getDealerActiveStatus(dealer) {
      try {
        if (typeof dealer.organic_gmb_oem_active === "undefined")
          throw new Error(`Missing organic_gmb_oem_active for ${dealer}`);
        return dealer.organic_gmb_oem_active;
      } catch (e) {
        return false;
      }
    },
    getDealerSelectedLocations(dealer) {
      try {
        if (typeof dealer.selectedLocations === "undefined")
          throw new Error(`Missing selectedLocations for ${dealer}`);
        return dealer.selectedLocations;
      } catch (e) {
        return [];
      }
    },
    getSelectedLocationName(location) {
      try {
        if (typeof location.location_name === "undefined")
          throw new Error(`Missing location_name for ${location}`);
        return location.location_name;
      } catch (e) {
        return "";
      }
    },
    getSelectedLocationAddress(location) {
      try {
        if (typeof location.address === "undefined")
          throw new Error(`Missing address for ${location}`);
        return location.address;
      } catch (e) {
        return {};
      }
    },
    getSelectedLocationLocality(location) {
      try {
        const address = this.getSelectedLocationAddress(location);
        if (typeof address.locality === "undefined")
          throw new Error(`Missing locality for ${address}`);
        return address.locality;
      } catch (e) {
        return "";
      }
    },
    getFields() {
      try {
        if (typeof this.fields === "undefined" || this.fields == null)
          throw new Error(`Missing fields`);
        return this.fields;
      } catch (e) {
        throw e;
      }
    },
    getEventTitleField() {
      try {
        const fields = this.getFields();
        if (typeof fields.eventTitle === "undefined")
          throw new Error(`Missing eventTitle for ${fields}`);
        return fields.eventTitle;
      } catch (e) {
        return "";
      }
    },
    getSummaryField() {
      try {
        const fields = this.getFields();
        if (typeof fields.summary === "undefined")
          throw new Error(`Missing summary for ${fields}`);
        return fields.summary;
      } catch (e) {
        return "";
      }
    },
    getImageUrlField() {
      try {
        const fields = this.getFields();
        if (typeof fields.imageUrl === "undefined")
          throw new Error(`Missing imageUrl for ${fields}`);
        return fields.imageUrl;
      } catch (e) {
        throw e;
      }
    },
    getDatesField() {
      try {
        let fields = this.getFields();
        if (typeof fields.dates === "undefined")
          throw new Error(`Missing dates for ${fields}`);
        return fields.dates;
      } catch (e) {
        return [];
      }
    },
    getActiveOemDealers() {
      try {
        if (typeof this.activeDealers === "undefined")
          throw new Error(`Missing activeDealers`);
        return this.activeDealers;
      } catch (e) {
        return [];
      }
    },

    // Returns a query parameter string of utm tags
    getUTMTags() {
      return `/?utm_source=${this.utm.source}&utm_medium=${this.utm.medium}&utm_campaign=${this.utm.campaign}&utm_term=${this.utm.term}&utm_content=${this.utm.content}`;
    },

    /**
     *  Helper methods for the component usually handling data
     *  These should fail gracefully and return some default value to not break the component
     */

    /**
     * Iterates through list of dealers within this OEM, and sets default selected locations
     * based on 'not having service/parts/collision in their name, or having sales in name'
     */
    setDefaultSelectedLocations() {
      try {
        let dealerList = this.getOemDealers();
        // Iterate through list of dealers
        for (let i = 0; i < dealerList.length; i++) {
          let locations = this.getDealerOrganicLocations(dealerList[i]);
          // If dealer only has no locations, skip this dealer
          if (locations.length <= 0) {
            continue;
            // If dealer only has 1 location, add it to its selectedLocations array by default
          } else if (locations.length == 1) {
            dealerList[i].selectedLocations[0] = locations[0];
            continue;
            // If dealer more than 1 location, check if their names include service/parts/collision
          } else if (locations.length >= 1) {
            dealerList[i].selectedLocations = [];
            // Iterate through list of locations
            for (let j = 0; j < locations.length; j++) {
              if (typeof locations[j].location_name === "undefined") {
                console.log("undefined location", locations[j]);
                continue;
              }
              let local = locations[j].location_name.toLowerCase();
              if (
                local.includes("sales") ||
                (!local.includes("service") &&
                  !local.includes("parts") &&
                  !local.includes("collision") &&
                  !local.includes("bodyshop"))
              ) {
                dealerList[i].selectedLocations.push(locations[j]);
              }
            }
          }
        }
      } catch (error) {
        throw error;
      }
    },
    /**
     * Dispatches `action` in store to get all oem dealers.
     * Used to refresh state after updating fields in `odin_dealers` collection.
     */
    async retrieveOEMDealers() {
      try {
        await this.$store.dispatch("odin_dealer/getOemGroups");
        this.setDefaultSelectedLocations();
      } catch (error) {
        throw error;
      }
    },
    /**
     * Switch event handler, if turned on, appendUTMS, if turned off, fire `deactivateDealers()`
     * @param {Event} e - Switch event that returns true or false
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     */
    setActive(e, dealer) {
      return e ? this.appendUTMS(dealer) : this.deactivateDealers(dealer);
    },
    /**
     * Checks if a dealer exists in `activeDealer` `Array` and removes it.
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     */
    checkIfActive(dealer) {
      let activeStatus = this.getDealerActiveStatus(dealer);
      if (activeStatus === true) {
        this.deactivateDealers(dealer);
      }
    },
    checkIfInActiveArray(dealer) {
      const activeDealers = this.getActiveOemDealers();
      for(let i in activeDealers) {
        if(activeDealers[i].dealer_business_name == dealer.dealer_business_name) {
          return true;
        }
        else return false;
      } 
    },
    /**
     * Turns off the 'Active' switch and removes dealer(s) from `activeDealers` `Array` state.
     * @param {Object} dealers - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     */
    deactivateDealers(dealers) {
      console.log('deactivating');
      let activeDealers = this.activeDealers;
      if(dealers == "All") {
        for (let d in activeDealers) {
          activeDealers[d].organic_gmb_oem_active = false;
        }
        activeDealers = [];
      } else if (Array.isArray(dealers)) {
        for (let d in dealers) {
          dealers[d].organic_gmb_oem_active = false;
        }
        for (let d in dealers) {
          for (let ad in activeDealers) {
            if (dealers[d]._id == activeDealers[ad]._id) {
              activeDealers.splice(ad, 1);
              break;
            }
          }
        }
      } else {
        for (let ad in activeDealers) {
          if (dealers._id == activeDealers[ad]._id) {
            dealers.organic_gmb_oem_active = false;
            activeDealers.splice(ad, 1);
            break;
          }
        }
      }
      this.$store.dispatch("odin_dealer/setActiveOEMDealers", activeDealers);
    },
    /**
     *  Adds a dealer to `activeDealers` `Array` and dispatches an `action` in the `user` `store` to update `activeDealers` `state`.
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     */
    async appendToActiveArray(dealer) {
      try {
        let activeDealers = this.getActiveOemDealers();
        let oem = this.getOemName();
        // disable dealers with unset oems?
        dealer.oem = oem;
        activeDealers.push(dealer);
        await this.$store.dispatch("odin_dealer/setActiveOEMDealers", activeDealers);
      } catch (error) {
        throw error;
      }
    },
    /**
     * Checks if dealer has existing utm tags:
     * if has utm tags: replaces them with newest ones,
     * else: appends new utm tags
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     */
    appendUTMS(dealer) {
      try {
        let dealerCTALink = this.getDealerCtaLink(dealer);
        let utm = this.getUTMTags();

        if (dealerCTALink.includes("utm")) {
          // Update utm tags if the link already has some
          dealerCTALink = dealerCTALink.replace(/\/\?utm_source.*/g, utm);
        } else if (dealerCTALink !== "") {
          // Add utm tags if the url doesn't have any
          dealerCTALink += utm;
        }
        dealer.organic_gmb_oem_cta_link = dealerCTALink;
        this.appendToActiveArray(dealer);
        // this.updateDealer(dealer);
      } catch (error) {
        throw error;
      }
    },

    /**
     * Emits dealer object and its oem to parent for updating
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     */
    async updateDealer(dealer) {
      const data = {
        _id: dealer._id,
        organic_gmb_oem_cta_link: dealer.organic_gmb_oem_cta_link
      }
      this.$emit("dealerUpdate", {dealer: data, oem: this.oem});
    },

    /**
     * 1.) Sets Event Post Metadata to data attributes
     * @throws - Error if fields are undefined
     * 2.) Filters the `activeDealers` `Array` for dealers belonging to `this` OEM.
     * @throws - Error if fields havent been set, or if scheduling fails
     * 3.) a.) Iterates through the filtered dealers and creates local posts for each one and schedules them.
     *     b.) Updates dealers with new CTA link
     *     c.) Removes dealers from `activeDealers` `Array`
     *     d.) Gets all oem dealers to refresh state.
     * @throws - Error if fields havent been set, or if scheduling fails
     */
    schedulePosts: async function() {
      // Assign fields from `fields` prop to data attributes
      var count = 0;
      this.skippedLocations = 0;
      this.schedulingPosts = true;
      try {
        try {
          var oemName = this.getOemName();
          var activeDealers = this.getActiveOemDealers();
          
          this.setFields();
        } catch(error) {
          throw error;
        }
        // Filter through activeDealers array in user state for active dealers
        // within this oem
        var filteredDealers = activeDealers.filter(dealer => {
          return dealer.oem === oemName;
        });
        // Throw error if there are no active dealers for this oem
        if (filteredDealers.length <= 0)

        for (let d in filteredDealers) {
          var dealer = filteredDealers[d];
          let selectedLocations = this.getDealerSelectedLocations(dealer);

          for (let l in selectedLocations) {
            let location = selectedLocations[l];

            // Replaces used keywords DEALERSHIP and CITY with dealership name and city - in title and summary
            this.replacedFields = this.replaceKeywords(dealer, selectedLocations[l]);
            // Create a local post using event fields and data from selected locations
            // If error caught, skip to next location\
            try {
              var localPost = this.createLocalPost(dealer, selectedLocations[l]);
              localPost.parentName = location.name;
            } catch (e) {
              // Add skipped posts with error as array of objects and display all after????
              this.skippedLocations++;
              continue;             
            }
            try {
              // fails here
              let res = await this.$store.dispatch("gmb_data/schedulePost", localPost);
              const oemName = this.getOemName()
              await this.$store.dispatch("gmb_data/getLocalPosts", {oem: oemName})
              if (typeof res[1].status !== "undefined" && res[1].status == 200) {
                count++;
              }
            } catch {
              this.skippedLocations++;
              continue;
            }
            this.updateDealer(dealer);
          }
        }
        
        if(count > 0) {
          //Removes dealers from active array
          this.deactivateDealers(filteredDealers);
          //pulls in dealers od oems
          this.retrieveOEMDealers();
        }
      } catch (error) {
        // catchin em all
        return error;
      } finally {
        this.schedulingPosts = false;
      }
    },

    /**
     * Sets Event Post Metadata to data attributes
     * @throws - Error if fields are undefined
     */
    setFields() {
      try {
        this.eventTitle = this.getEventTitleField();
        this.summary = this.getSummaryField();
        this.imageUrl = this.getImageUrlField();
        this.dates = this.getDatesField();
      } catch (error) {
        throw error
      }
    },

    /**
     * Replaces keywords DEALERSHIP and CITY with dealership and city in Event Title and Summary
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     * @param {object} selectedLocation - keys: address, location_name, name, primary_phone, store_code
     */
    replaceKeywords(dealer, selectedLocation) {
      let eventTitle = this.eventTitle;
      let summary = this.summary;
      let dealerName;
      let city;

      try {
        if (this.getSelectedLocationName(selectedLocation) === "" ) {
          if(this.getDealerName(dealer) === "<not-set>") {
            console.log('nooooo');
            throw (`Error replacing keywords: Store Code ${selectedLocation.store_code} missing location name`);
          }
          dealerName = dealer.dealer_business_name;
        } else {
          dealerName = selectedLocation.location_name;
        }
        if(this.getSelectedLocationLocality(selectedLocation) === "") {
          console.log('noooooooooo');
          throw (`Error replacing keywords: Store Code ${selectedLocation.store_code} missing city`)
        } else {
          city = this.getSelectedLocationLocality(selectedLocation);
        }
      } catch(error) {
        throw error;
      }
      //Replace DEALERSHIP keyword with the location's name
      summary = summary.replace(/DEALERSHIP/g, dealerName);
      eventTitle = eventTitle.replace(/DEALERSHIP/g, dealerName);

      //Replace the CITY keyword with location's city
      summary = summary.replace(/CITY/g, selectedLocation.address.locality);
      eventTitle = eventTitle.replace(/CITY/g, selectedLocation.address.locality);
      return { eventTitle: eventTitle, summary: summary };
    },

    /**
     * Creates and returns a new local post object
     * @param {Object} dealer - keys: id, dealer_business_name, organic_gmb_locations,
     * organic_gmb_oem,active, organic_gmb_oem_cta_link, selectedLocations
     * @return localpost object
     */
    createLocalPost(dealer, selectedLocation) {
      try {
        const localPost = {
          resource: {
            languageCode: "en",
            summary: this.replacedFields.summary,
            callToAction: {
              actionType: "LEARN_MORE",
              url: this.getDealerCtaLink(dealer)
            },
            media: [
              {
                mediaFormat: "PHOTO",
                description: "",
                sourceUrl: this.imageUrl
              }
            ],
            topicType: "EVENT",
            event: {
              title: this.replacedFields.eventTitle,
              schedule: {
                startDate: {
                  year: this.dates[0].getFullYear(),
                  month: this.dates[0].getMonth() + 1,
                  day: this.dates[0].getDate()
                },
                endDate: {
                  year: this.dates[1].getFullYear(),
                  month: this.dates[1].getMonth() + 1,
                  day: this.dates[1].getDate()
                }
              }
            }
          },
          oem: this.getOemName(),
          dealer_id: dealer._id,
          store_code: selectedLocation.store_code,
          start_date: this.dates[0].setHours(0, 0, 0, 0),
          end_date: this.dates[1].setHours(0, 0, 0, 0)
        };
        return localPost;
      } catch (e) {
        throw e;
      }
    },

    async schedPost(localPost) {
      try {
        let response = await this.$store.dispatch("gmb_data/schedulePost", localPost);
        await this.$store.dispatch("gmb_data/getLocalPosts")
        return response;
      } catch(error) {
        throw error;
      }
    },

    /**
     * Retrieves all posts for dealer locations belonging to the OEM and displays them in a modal
     * @throws - throws if error occurs while getting data
     */
    async openModal() {
      try {
        const oemName = this.getOemName()
        const posts = await this.$store.dispatch("gmb_data/getLocalPosts", {oem: oemName})
        this.openingModal = true;
      } catch (error) {
        throw error;
      } finally {
        this.modalActive = !this.modalActive;
        this.openingModal = false;
      }
    },
    /**
     * Returns an icon as a string depending on if the card is expanded.
     * @returns {String} "chevron-down" or "chevron-left"
     */
    setIcon() {
      if (this.isCardExpanded) {
        return "chevron-down";
      } else {
        return "chevron-left";
      }
    },
  }
};
</script>

<style lang="scss" scoped>
.error-message {
  padding: 12px;
}
</style>

