<template>
  <div>
    <div class="card" :class="{'selected': selected}">
      <b-collapse aria-id="contentIdForA11y2" :open.sync="isCardExpanded">
        <div slot="trigger" role="button" aria-controls="contentIdForA11y2">
          <header class="card-header">
            <p class="card-header-title">{{OEMGroup._id == null || OEMGroup._id == "" ? "Unset Dealers" : OEMGroup._id}}</p>
            <a class="card-header-icon header-icon"> 
            <b-icon :icon="setIcon()" size="is-small" type="is-menu-icon"></b-icon>
            </a>
          </header>
        </div>
        <div class="card-content">
        <b-field expanded>
          <template slot="label">
            Event Title
            <b-tooltip type="is-dark" :label="tooltipMessage">
              <b-icon size="is-small" type="is-primary" icon="information-outline"></b-icon>
            </b-tooltip>
          </template>
          <b-field>
            <b-input placeholder="Come to CITY for Great Deals at DEALERSHIP!" expanded v-model="eventTitle" @input="fieldInput($event, 'eventTitle')"></b-input>
          </b-field>
        </b-field>
        <b-field label="Select a date">
          <b-datepicker placeholder="Click to select..." v-model="dates" @input="fieldInput($event, 'dates')" range></b-datepicker>
        </b-field>
        <b-field>
          <b-field>
            <template slot="label">
              Summary 
              <b-tooltip type="is-dark" :label="tooltipMessage">
                <b-icon size="is-small" type="is-primary" icon="information-outline"></b-icon>
              </b-tooltip>
            </template>
            <b-field>
              <b-input
                type="textarea"
                maxlength="1500"
                placeholder="Come check out these amazing deals only at DEALERSHIP in CITY!"
                expanded
                v-model="summary"
                @input="fieldInput($event, 'summary')"
              ></b-input>
            </b-field>
          </b-field>
        </b-field>
        <b-field>
          <b-field label="Image Link">
            <b-field>
              <b-input placeholder="Promo Image URL" expanded v-model="imageUrl"
              @input="fieldInput($event, 'imageUrl')"></b-input>
            </b-field>
          </b-field>
        </b-field>
        </div>
      </b-collapse>
    </div>
  </div>
</template>

<script>
import ScheduledPostsModal from "components/post-automation/ScheduledPostsModal.vue"
import { mapState } from "vuex";

export default {
  props: ["OEMGroup"],
  data() {
    return {
      isCardExpanded: false,
      eventTitle: "",
      summary: "",
      imageUrl: "",
      dates: [
        new Date(),
        new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0)
      ],
      dealers: this.getGMBDealers(),
      selected: false,
      fields: {
        oem: "",
        eventTitle: "",
        summary: "",
        imageUrl: "",
        dates: [null, null],
      },
      oemSet: false,
      tooltipMessage: "KEYWORDS: Using DEALERSHIP will replace it w/ the dealership name. Using CITY will replace it w/ the locations city.",
    };
  },
  methods: {
    fieldInput(e, key) {
      if(!this.oemSet) {
        this.fields.oem = this.OEMGroup._id;
        this.fields.dates[0] = this.dates[0];
        this.fields.dates[1] = this.dates[1];
        this.oemSet = true;
      } 
      if(key == 'dates') {
        this.fields.dates[0] = this.dates[0];
        this.fields.dates[1] = this.dates[1];
      } else {
        this.fields[key] = e;
      }
      this.$emit('fieldsEntered', this.fields);
    },
    setIcon() {
      if(this.selected) {
        return 'check';
      } else if(!this.selected && this.isCardExpanded) {
        return 'chevron-down';
      } else if(!this.selected && !this.isCardExpanded) {
        return 'chevron-left';
      }
    },
    getGMBDealers() {
      try {
        let dealers = this.OEMGroup.dealers
          .filter( dealer =>
              typeof dealer.organic_gmb_locations !== "undefined" &&
              dealer.organic_gmb_locations !== null &&
              dealer.organic_gmb_locations.length > 0
          )
          .map( dealer => {
            return {
              _id: dealer._id,
              dealer_business_name: dealer.dealer_business_name,
              organic_gmb_locations: dealer.organic_gmb_locations,
              organic_gmb_oem_active: dealer.organic_gmb_oem_active,
              organic_gmb_oem_cta_link: dealer.organic_gmb_oem_cta_link,
              selectedLocations: []
            };
          });
        return dealers;
      } catch(e) {
        throw e
      }
    }
  },
  watch: {
    oemGroup(oldVal, newVal) {
      this.dealers = this.getGMBDealers();
    },
    eventTitle(oldVal, newVal) {
      // If event title isn't empty, it is considered a selected oem
      if(this.eventTitle !== "") {
        this.selected = true;
      } else {
        if(this.eventTitle == "") {
          this.selected = false
        }
      }
    },
    isCardExpanded(oldVal, newVal) {
      if(this.isCardExpanded) {
        this.$emit("oemExpanded", [{dealers: this.dealers, oem: this.OEMGroup._id}]);
      } else {
        // Selected is true if oems event title isn't empty
        if(!this.selected) {
          this.$emit("oemNotUsed", [{dealers: this.dealers, oem: this.OEMGroup._id}]);
        }
      }
    }
  },
};
</script>

<style lang="scss" scoped>
  .group-title {
    padding: 8px 12px;
  }
  .selected {
    background-color: $card-highlight;
  }
  .card-header-title {
    font-weight: normal;
    font-size: 16px !important;
  }
  .card-header-icon {
    color: #777272;
    position: relative;
    right: 10px;
  }
</style>