<template>
  <div>
    <h1 class="title">OEM Post Automation</h1>
    <template v-if="error">
      <div class="error-message">
        <p class="is-flex" id="render-error" style="justify-content: center;">Error getting OEMS</p>
      </div>
    </template>
    <template v-else>
      <div class="columns">
        <div class="column is-4">
          <div class="card group-header">
            <header class="card-header">
              <p class="card-header-title">OEMs</p>
            </header>
          </div>
          <OEMGroupCard
            v-for="(OEMGroup, index) in oemGroups"
            :key="index"
            :OEMGroup="OEMGroup"
            @oemExpanded="addToOEMArray($event)"
            @oemNotUsed="removeFromOEMArray($event)"
            @fieldsEntered="addFields($event)"
          />
        </div>
        <div class="column">
          <div v-sticky="{ zIndex: 10, stickyTop: 20, className: 'sticky-buttons' }">
            <div class="utm-builder">
              <VDPUTMBuilderCard style="margin-bottom: 20px" />
            </div>
            <div v-for="(oem, index) in selectedOEMS" :key="index">
              <OEMDealerSelect
                ref="dealerSelect"
                class="oem-dealer-select"
                :oem="oem"
                :fields="getFields(oem)"
                @dealerUpdate="updateDealer($event)"
              />
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import OEMGroupCard from "./OEMGroupCard.vue";
import OEMDealerSelect from "./OEMDealerSelect.vue";
import VDPUTMBuilderCard from "../../post-automation/VDPUTMBuilderCard";
import VueSticky from "vue-sticky";

import { mapState } from "vuex";
import store from "store";

export default {
  components: {
    OEMGroupCard,
    VDPUTMBuilderCard,
    OEMDealerSelect
  },
  directives: {
    sticky: VueSticky
  },
  data() {
    return {
      selectedOEMS: [],
      currentOEM: "",
      fields: [],
      error: false
    };
  },
  computed: {
    ...mapState({
      //  New ***
      oemGroups(state) {
        return state.odin_dealer.oemGroups;
      },
      // End ***
      oemGroup(state) {
        return state.odin_dealer.oemGroups.find(
          group => group._id === this.currentOEM.oem
        );
      },
      user(state) {
        return state.user;
      }
    }),
    sortedOemGroups() {
      return this.getUser().oemGroups.sort(function(a, b) {
        return a.dealers.length > b.dealers.length
          ? -1
          : a.dealers.length < b.dealers.length
          ? 1
          : 0;
      });
    }
  },
  methods: {
    getUser() {
      try {
        if (typeof this.user === "undefined") throw new Error(`Missing Users`);
        return this.user;
      } catch (e) {
        this.error = e;
        throw e;
      }
    },
    getUserOemGroups() {
      try {
        const user = this.getUser();
        if (typeof user.oemGroups === "undefined")
          throw new Error(`Missing oemGroups for ${user}`);
        return this.user.oemGroups;
      } catch (e) {
        this.error = e;
        throw e;
      }
    },
    getOemGroup() {
      try {
        if (typeof this.oemGroup === "undefined")
          throw new Error(`Missing oemGroup`);
        return this.oemGroup;
      } catch (e) {
        this.error = e;
        throw e;
      }
    },
    getOemGroupDealers() {
      try {
        const oemGroup = this.getOemGroup();
        if (typeof oemGroup.dealers === "undefined")
          throw new Error(`Missing dealer for ${oemGroup}`);
        return this.oemGroup.dealers;
      } catch (e) {
        this.error = e;
        throw e;
      }
    },
    // Grabs inputted fields from group, pushes to an array of fields per oem
    addFields(e) {
      if (this.fields.length == 0) {
        this.fields.push(e);
      } else {
        for (let d in this.fields) {
          if (e.oem == this.fields[d].oem) {
            this.fields[d] = e;
            return;
          }
        }
        this.fields.push(e);
      }
    },
    // Returns an oems inputted fields if they've been added
    getFields(oem) {
      if (this.fields.length == 0) {
        return null;
      }
      for (let i = 0; i < this.fields.length; i++) {
        // console.log(this.fields[i].oem, oem.oem)
        if (this.fields[i].oem == oem.oem) {
          return this.fields[i];
        }
      }
      return null;
    },
    // Adds OEM to array of selected OEMs
    addToOEMArray(e) {
      console.log(e);
      // console.log(e);
      if (this.selectedOEMS.length > 0) {
        for (let d in this.selectedOEMS) {
          if (this.selectedOEMS[d].oem == e[0].oem) {
            console.log("match");
            return;
          }
        }
      }
      this.selectedOEMS.push(e[0]);
    },
    async updateDealer(e) {
      try {
        const id = e.dealer._id;
        delete e.dealer._id;
        const data = e.dealer;
        const payload = {
          id: id,
          data: data
        };
        const response = await this.$store.dispatch(
          "odin_dealer/updateOdinDealer",
          payload
        );
      } catch (error) {
        throw error;
      }
    },
    getGMBDealers() {
      let dealers = this.getOemGroupDealers()
        .filter(
          dealer =>
            typeof dealer.organic_gmb_locations !== "undefined" &&
            dealer.organic_gmb_locations.length > 0
        )
        .map(dealer => {
          return {
            _id: dealer._id,
            dealer_business_name: dealer.dealer_business_name,
            organic_gmb_locations: dealer.organic_gmb_locations,
            organic_gmb_oem_active: dealer.organic_gmb_oem_active,
            organic_gmb_oem_cta_link: dealer.organic_gmb_oem_cta_link,
            selectedLocations: []
          };
        });
      return dealers;
    },
    removeFromOEMArray(e) {
      // console.log(e);
      for (let i = 0; i < this.selectedOEMS.length; i++) {
        if (e[0].oem == this.selectedOEMS[i].oem) {
          this.selectedOEMS.splice(i, 1);
          return;
        }
      }
    }
  },
  watch: {
    oemGroup(oldVal, newVal) {
      this.currentOEM.dealers = this.getGMBDealers();
      for (let i = 0; i < this.selectedOEMS.length; i++) {
        if (this.selectedOEMS[i].oem == this.currentOEM.oem) {
          this.selectedOEMS[i] = this.currentOEM;
        }
      }
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch("odin_dealer/getOemGroups");
    } catch (error) {
      throw error;
    }
    try {
      // await this.$store.dispatch("odin_dealer/updateOEMGroups");
    } catch (error) {
      throw error;
    }
    if (this.$store.state.user.activeOemDealers.length > 0) {
      console.log("deactivating");
      let activeDealers = this.$store.state.user.activeOemDealers;
      for (let d in activeDealers) {
        activeDealers[d].organic_gmb_oem_active = false;
      }
      activeDealers = [];
      this.$store.dispatch("odin_dealer/setActiveOEMDealers", activeDealers);
    }
    // this.sortByMostDealers();
  }
};
</script>

<style lang="scss" scoped>
.oem-dealer-select {
  margin-bottom: 20px;
}
.card.group-header {
  margin-bottom: 0;
}
</style>